@import "mixins";
@import "variables";

.container {
  height: 90vh;
  min-height: 100%;
  max-height: 1100px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include bp(tb) {
    max-height: 550px;
  }
  @include bp(mb) {
    align-items: flex-end;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 70%, #000000 98%);
      }
    }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    @include bp(mb) {
      object-position: 90% 50%;
    }
  }
  .textContainer {
    position: relative;
    z-index: 5;
    padding: 0 75px;
    max-width: 50%;
    @include bp(dt) {
      padding: 130px 25px;
      max-width: 60%;
    }
    @include bp(tb) {
      padding: 0 20px;
    }
    @include bp(mb) {
      max-width: unset;
    }
    p {
      margin-bottom: 10px;
    }
    h1 {
      font-size: clamp(30px, 3vw, 120px);
      color: $color-primary;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 50px;
      @include bp(mb) {
        margin-bottom: 20px;
      }
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30vh;
  padding: 100px 50px;
  background-color: $color-primary;
  color: #ffffff;
  position: relative;
  z-index: 1;
  @include bp(tb) {
    padding: 25px 50px;
    justify-content: center;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(18px, 3vw, 48px);
    @include bp(tb) {
      margin-bottom: 15px;
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1100px;
    @include bp(tb) {
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    div {
      width: 48%;
      margin-bottom: 20px;
      @include bp(tb) {
        width: 100%;
      }
      input {
        padding: 8px 10px;
        border-width: 0;
        font-size: 16px;
        min-height: 50px;
        width: 100%;
      }
     &.text_area {
       width: 100%;
      textarea {
        padding: 8px 10px;
        border-width: 0;
        font-size: 16px;
        width: 100%;
      }
     }
    }
    button {
      background-color: $color-secondary;
      color: $color-primary;
      text-transform: uppercase;
      min-height: 50px;
      padding: 8px 24px;
      font-weight: 800;
      border-width: 0;
      font-size: 16px;
      cursor: pointer;
      @include bp(tb) {
        margin: 15px 0 0 0;
        // flex-basis: 33.333%;
      }
    }
  }
}
.contact_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 50px;
  &_left {
    p:first-child {
      margin-bottom: 10px;
    }
    @include bp(tb) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &_right {
    p:first-child {
      margin-bottom: 10px;
    }
    text-align: right;
    @include bp(tb) {
      text-align: center;
    }
  }
  @include bp(tb) {
    flex-direction: column;
  }
}
.social {
  margin-bottom: 20px;
  a {
    &:nth-child(2){
      padding: 0 10px;
    }
    &:nth-child(3){
      padding-right: 10px;
    }
  }
}