.footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  .container {
    padding: 50px;
    .social {
      margin-bottom: 20px;
      a {
        &:nth-child(2){
          padding: 0 10px;
        }
        &:nth-child(3){
          padding-right: 10px;
        }
      }
    }
    .small {
      font-size: 15px;
      font-weight: 300;
    }
  }
}
