html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.6;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}