@import "mixins";
@import "variables";

.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 75px;
  background-color: $color-primary;
  color: #ffffff;
  position: relative;
  z-index: 1;
  flex-direction: column;
  @include bp(tb) {
    padding: 25px 50px;
    justify-content: center;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: clamp(18px, 3vw, 48px);
    @include bp(tb) {
      margin-bottom: 15px;
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
    @include bp(tb) {
      flex-direction: column;
      justify-content: center;
      flex: unset;
      width: 100%;
    }
    .wrapper {
      flex: 1;
      margin: 0 15px;
      @include bp(tb) {
        flex: unset;
        width: 100%;
      }
      @include bp(mb) {
        margin: 0;
      }
    }
    .wrapperButton {
      margin: 0 15px;
    }
    input {
      padding: 8px 10px;
      margin: 10px;
      border-width: 0;
      font-size: 16px;
      min-height: 50px;
      width: 100%;
      @include bp(tb) {
        margin: 5px 10px 0 0;
        // flex-basis: 33.333%;
      }
      @include bp(mb) {
        margin: 5px 0 0 0;
      }
    }
    button {
      background-color: $color-secondary;
      color: $color-primary;
      text-transform: uppercase;
      padding: 8px 24px;
      min-height: 50px;
      font-weight: 800;
      border-width: 0;
      font-size: 16px;
      cursor: pointer;
      @include bp(tb) {
        margin: 15px 0 0 0;
        // flex-basis: 33.333%;
      }
    }
  }
  .button {
    text-decoration: none;
    padding: 8px 24px;
    background: $color-secondary;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    transition: all 0.4s ease;
    &:hover {
      background: #000000;
        color: $color-primary;
    }
    @include bp(tb) {
      font-size: 20px;
    }
  }
}