@import "mixins";
@import "variables";

.container {
  height: 90vh;
  min-height: 100%;
  max-height: 1100px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include bp(tb) {
    max-height: 550px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    @include bp(mb) {
      object-position: 60% 50%;
    }
  }
  .textContainer {
    position: relative;
    z-index: 5;
    padding: 0 75px;
    max-width: 70%;
    @include bp(dt) {
      padding: 130px 25px;
      max-width: 60%;
    }
    @include bp(tb) {
      padding: 0 20px;
    }
    p {
      margin-bottom: 10px;
    }
    h1 {
      font-size: clamp(30px, 3vw, 120px);
      color: $color-primary;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 50px;
    }
  }
}

.twoCol {
  display: flex;
  @include bp(dt) {
    flex-direction: column;
  }
  > * {
    flex: 1;
  }
  .textCol {
    // flex-basis: 45%;
    padding: 50px 35px;
    // margin-left: -75px;
    position: relative;
    z-index: 5;
    h2 {
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 800;
      line-height: 1.3;
      font-size: clamp(28px, 3vw, 36px);
      margin-bottom: 20px;
    }
    &:nth-child(odd) {
      // margin-left: 0;
      // margin-right: -75px;
    }
    @include bp(dt) {
      padding: 50px 20px;
      margin-left: 0;
      // margin-top: -75px;
    }
    @include bp(tb) {
      // padding-right: 20px;
    }
  }
}

.media {
  padding: 100px 75px;
  @include bp(dt) {
    padding: 50px 20px;
  }
  .title {
    font-size: clamp(30px, 3vw, 120px);
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
  .cards {
    .twoCol {
      background: $color-primary;
      color: #ffffff;
      margin-bottom: 75px;
      @include bp(tb) {
        margin-bottom: 25px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .textCol {
        .small {
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
        }
        @include bp(dt) {
          padding: 50px;
        }
      }
    }
  }
}

.button {
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: clamp(14px, 3vw, 18px);
  &:hover {
    background-color: transparent;
    color: #000000;
    transition: all .4s ease;
  }
}