@import "mixins";
@import "variables";

.navContainer {
  padding: 50px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: transparent;
  transition: all .4s ease;
  .logo {
    cursor: pointer;
    height: 120px;
    transition: all .4s ease;
  }
  .list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 50px;
    .listItem{
      @include type(16px, 24px);
      text-transform: uppercase;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $color-secondary;
        transition: color .4s ease;
        &:hover {
          color: $color-primary;
        }
        &.active {
          color:  $color-primary;
        }
      }
    }
  }
  .donate {
    text-decoration: none;
    padding: 12px 18px;
    background: $color-primary;
    color: #ffffff;
  }

  &.scrolled {
    background: $color-secondary;
    padding: 25px 75px;
    .logo {
      height: 80px;
      fill: #ffffff;
    }
    .list {
      .listItem {
        a {
          color: #ffffff;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}





.hamburger {
  display: none;
}

.line {
  width: 100%;
  height: 3px;
  background-color: $color-primary;
}

.menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: black;
  top: 50px;
  /* right: 0px; */
  z-index: 9999;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: lightgray;
  list-style: none;
  transition: all 1s ease;
}

@include bp(tb) {
  .container {
    padding: 0 20px;
  }
  .list {
    display: none;
    &.open {
      display: block;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}